# Secrets and env
.env

# Local data
*.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Backend
backend/cache.db

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.cursor/

# Worker
tmdb-proxy-worker/node_modules/
tmdb-proxy-worker/dist/
